#content_wrapper
  .title
    %h1
      Chat

  #chat
    Witaj...
    .content
    .controls
      = form_for @message, :remote => true do |form|
        = form.text_field :content, :size => 10
        = form.submit 'Wyślij'