/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

$background: #2f4f4f;
$message_background: #002020;
$white: #ffffff;

body {
    background: $background;
    font-family: Inconsolata;
}

div.title {
    background: $message_background;
    padding: 10px;

    h1 {
        color: $white;
    }
}

#content_wrapper {
    width: 500px;
    margin: 0 auto;
}

#chat {
    border: 3px solid #708090;
    padding: 20px;
    background: $white;

    .content {
        border-top: 1px dashed $message_background;
        margin: 10px 0;
    }
}
